* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* suavizar scroll do mouse */
html {
    scroll-behavior: smooth;
}

/* Paleta de Cores do Site */
:root {
    --primaria: #00ffaa;
    --secundaria: #00ffd0;
    --escuro: #002f27;
    --maisescuro: #00100b;
    --claro: #eeeeee;
    --vidro: rgba(255, 255, 255, 0.1);
}


body {
    background-color: var(--escuro); 
    color: var(--claro);
}

/* barra de navegação */
.navbar {
    position: fixed;
    top: 0;
    background: #0000004d;
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}


.link-menu {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

/* animação do tracinho em baixo dos menus */
.link-menu::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria)); 
    transition: width 0.5s ease;
}

/* Animação quando põe o mouse em cima */
.link-menu:hover::after {
    width: 100%;
}


.cabecalho{
    min-height: 100vh; /* Ocupa tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow:1px 1px 30px -15px rgba(0,169,105,1);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 2.5rem;
    color: var(--claro);
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 1.5rem;
    color: var(--primaria);
}

/* Sessão do Sobre */
.sobre {
    padding: 6rem 2rem;

}


.sobre-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}


.sobre-area {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow:1px 1px 30px -15px rgba(156, 255, 217, 0.422);
}   


.sobre-paragrafo {
    text-align: center;
    font-size: 1.3rem;

}

/* Sessão dos Perfis */

a {
    text-decoration: none;
    color: inherit;
}

.perfis {
    padding: 6rem 2rem;
}

.perfis-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.perfis-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.perfis-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.perfis-card:hover {
    box-shadow: 0 10px 20px #02b97cc1;
    transform: translateY(-10px) scale(1.03);
}

.perfis-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-texto-perfis {
    padding: 1.5rem;
}

.info-perfis {
    margin-bottom: 5px;
}

.p-perfis {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}


/* Sessão contato */
/*
.contato {
    
}
*/

.contato-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}


.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}


.campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}


.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow:1px 1px 30px -15px rgba(156, 255, 217, 0.7);
}


.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}


.botao-form:hover {
    transform: translateY(-4px);
    box-shadow:1px 1px 30px -13px rgba(0, 255, 157, 0.738);
}

/* Efeitos do Site */

/* 2 particulas redondas no estilo do site */
.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, #02b97cc1 0%, transparent 17%), 
    radial-gradient(circle at 90% 80%, #00ffd074 0%, transparent 17%), 
    var(--maisescuro);
}

/* Animação de flutuar na foto do perfil */
@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

