* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    background-image: url("https://transparenttextures.com/patterns/black-orchid.png");
}

.main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

}

section {
    margin-bottom: 25px;
}

h2 {
    color: #00ffbf;
}

.informacoes {
    color: rgb(255, 255, 255);
    margin: 20px 0;
    line-height: 1.6;
}

.informacoes li {
    margin: 10px 0;
}

.tec,
.link {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: background 0.3s, transform 0.2s ease-in-out;
    display: inline-block; 
}

.tec:hover,
.link:hover {
    background: #ffffff0d;
    transform: scale(1.2);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@media (max-width: 600px) {
    .tec,
    .link {
        width: 50px;
        height: 50px;
    }

    h2 {
        font-size: 18px;
        text-align: center;
    }

    .informacoes {
        font-size: 14px;
        text-align: center;
    }
}

.content {
    display: none; 
    margin-top: 10px;
}

h2 {
    cursor: pointer;
}