* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    background-image: url("https://transparenttextures.com/patterns/black-orchid.png");
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #00ffbf;
}

header p {
    font-size: 1.2em;
    color: #959595;
}

.perfil {
    text-align: center;
    margin-bottom: 20px;
}

.foto_miguel {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.5s ease-in-out;
}

.foto_miguel:hover {
    transform: scale(1.5);
}

h2 {
    color: #00ffbf;
}

p {
    color: rgb(255, 255, 255);
}

.pag2 {
    color: #00ffbf;
}